<% content_for(:nav) do %>
  <header>
    <nav class="navbar fixed-top navbar-toggleable-sm navbar-expand-md navbar-dark" id="home-navbar">
      <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav-item active">
          <a class="navbar-brand scroll" href="#top">EasyShare</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link scroll" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#contactus">Contact Us</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, :class => "nav-link" %></li>
            <li class="nav-item"><%= link_to "Log In", new_user_session_path, :class => "nav-link" %></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="header-title" id="top">
    <div class="container">
      <div id="title">
        <%= form_tag items_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Item" %>
          <%= button_tag(type: "submit", class: "close-btn") do %>
            Search
          <% end %>
        <% end %>
      </div>
    </div>
  </section>


  <div id="about" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">About</h1>
      <p class="lead font-weight-normal">Our mission is to help you in sharing items and create a sense of community and
        goodwill.</p>
      <p> We are here to help you lend your stuff. We want to help you have pleasure of helping. </p>
    </div>
  </div>


  <div id="contactus" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Contact Us</h1>
      <p class="lead font-weight-normal">We would like to hear about your experience on using our platform!</p>
      <p> You can contact us at easyshare999@gmail.com. We are situated in University of Toronto, Canada.</p>
      <a href="https://www.instagram.com/easyshare999/?hl=en"><i class="fa fa-instagram fa-5x"></i></a>
      <a href="https://twitter.com/EasyShare4"><i class="fa fa-twitter fa-5x"></i></a>
      <a href="https://www.facebook.com/geteasyshare2/"><i class="fa fa-facebook fa-5x"></i></a>


    </div>
  </div>


  <section class="footer">
    <div class="container">
      <%= render "partials/footer" %>
    </div>
  </section>
<% end %>
